
@import "mixins/utils";
@import "mixins/css3";

@font-size: 16;
@line: 30;
@px: 1px;
@em: 1em;



/*
* Colors
*/ 

@black: #3b4854;
@white: #fff;
@bronze: #d1c9aa;
@green: #4fa331;
@blue: #407a93;
@bg-light: #f9f9f9;
@bg-blue: #407a93 url('assets/background-blue.jpg');


body {
	color: @black;
	background: @bg-light;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;

	/* more crisp font rendering please! */
	-webkit-font-smoothing: antialiased;
}




/*
* Base typography
*/
h1, h2, h3 {
	font-weight: 300;
}
b {
	font-weight: 700;
}

h1 {
	/* 65px */
	font-size: ( 65 / @font-size ) * @em;
	line-height: 1.2em;
	padding-bottom: .8em;
}

h2 {
	font-size: ( 44 / @font-size ) * @em;
}

h2, h3, p {
	line-height: 1.5em;
	color: @black;
}

.inverted {
	color: @white;
	h1, h2, h3, p {
		color: @white;
	}
}


h3 {
	padding-top: 1.5em;
	padding-bottom: 1em;
}

h4, h5 {
	font-size: ( 20 / @font-size ) * @em;
	line-height: 1.3em;
}

h5 {
	font-size: ( 18 / @font-size ) * @em;
	line-height: 1.3em;

	font-weight: normal;
}

p {
	font-size: @font-size * @px;
	padding-bottom: 1.5em;
}




/*
* Layout
*/

.wrapper-base {
	.clearfix;
	max-width: 960px;
	position: relative;
	margin: 0 auto;
}

.wrapper {
	.wrapper-base;
	padding-bottom: 3em;
}

.column {
	padding-left: 0.75em;
	padding-right: 0.75em;
	
	.border-box;
}

.column-wide {
	.wrapper-base;
	.column;
	.clearfix;
}

.column-two {
	.column;
	float: left;

	/* Takes two thirds of width */
	width: 100% / 1.5;
}


.column-half {
	.column;

	float: left;
	
	/* Takes half with */
	width: 100% / 2;
}


.column-third {
	.column;

	float: left;
	
	/* Takes one third of with */
	width: 100% / 3;
}


article {
	padding: 120px 0 80px 0;
}



/*
* Header
*/


header {
	padding-bottom: 8em;
}


/*
* Intro
*/

#intro {
}

#intro h2 {
	
	/* Dont want it to
	strech to wide */
	max-width: 1000px;

}

h3.contact {
	-webkit-font-smoothing: subpixel-antialiased;
	a {
		color: #E54995;
		text-decoration: none;

		&:hover {
			text-decoration: underline;			
		}
	}
}


/* 
 * About 
 */
.about-text {
	padding-right: 100px;
}
.webuild {	
	background: url('assets/background-blue-box.png') no-repeat;
	height: (314 / 16) * @em;
	background-size: contain;
}
.quotes {
	padding: 0;
	position: absolute;
	right: 0;
	width: 334px;
	height: 203px;

	.perspective( 600px );    
	.perspective-origin( 50% 50% );
	
	blockquote {
		
		background-image: url('assets/background-quotes.jpg');
		background-repeat: no-repeat;

		color: @bronze;
		margin: 0;
		display: block;
		position: absolute;
		top:0; bottom:0;
		left:0; right:0;
		background-color: rgba(0,0,0,0);
	 	.backface-visibility( hidden );
    

    >div {
			padding: 20px;
			.box-sizing(border-box);
			height: 100%;
			.transition( all .7s cubic-bezier(0.230, 1.000, 0.320, 1.000) );
    }
		
		&:before, 
		&:after {
			display: block; 
			content: '"'; 
			font-size: 150px; 
			position: absolute; 
			top: -60px; 
			.transform( translateZ(0px) );
			.backface-visibility( hidden ); 
			font-family: Helvetica;
		}
		&:after {
			top:auto;  bottom: -110px; right: 0;
		}
	}
	
	.roll {
	  height: 100%;
	  width: 100%;     
	  .transition( all .7s cubic-bezier(0.230, 1.000, 0.320, 1.000) );
	  .transform-origin( 50% 100% );
	  .transform-style( preserve-3d );
	}
	&:hover .roll {
	   .transform( translate3d(0px, -200px, 0px) rotateX(90deg) );
	 }
	&:hover .roll .b1 div {   
		 color: rgba(255,255,255,0);
	   background-color: rgba(255,255,255,.2);
	 }
	&:hover .roll .b2 div {
		color: inherit;
	   background: rgba(0,0,0,0);
	 }

	.b1 {
	    display: block;
	    position: absolute;    
	    left: 0;
	    top: 0;
	}
	
	.b2 {
	    position: absolute;
	    left: 0;
	    top: 0;	    
	    .transform-origin( 50% 0% );
	    .transform( translate3d(0px, 100%, 0px) rotateX(-90deg) );

	    >div {
	    	 color: rgba(0,0,0,.5);
	    	 background: rgba(0,0,0,.4);
	    }
	}

}



/*
* Work
*/

#work {
	.clearfix; 	

	h2 {
		position: relative;
		span {
			position: absolute;
			clip: rect(1px 1px 1px 1px);
		}
		&:after {
			position: absolute;
			content: "";
			top: -100px;
			right: 0;
			height: 98px;
			width: 105px;
			background: url('assets/checkout.png');
		}
	}
}

#work figure {

}

#work figure {

	.border {
		display: inline-block;
		background: white;
		padding: ( 4 / @font-size ) * @em;
		margin-bottom: 1em;
		border-radius: (15 / @font-size ) * @em;
		box-shadow: 0 1px 3px rgba(0,0,0,.5);
	}	

	img {
		.border-box;
		border-radius: (12 / @font-size ) * @em;
		display: block;	
		max-width: 100%;
		margin: 0;
	}
}

#about {
	background: @bg-blue;
}




/*
* Breakpoint - Widescreen
*/
@media only screen and (max-width: 1200px) {

	body {
		font-size: .9em;
	}

}

/*
* Breakpoint - Tablets such as iPad in landscape mode
*/
@media only screen and (max-width: 1024px) {

	body {
		font-size: .8em;
	}
	
}

/*
* Breakpoint - Small resolution & tablets in portrait mode
*/
@media only screen and (max-width: 768px) {

	h1 {
		font-size: ( 50 / @font-size ) * @em;
	}

	
}

/*
* Breakpoint - X
*/
@media only screen and (max-width: 600px) {

	body {
		font-size: .7em;
	}

	h1 {
		font-size: ( 40 / @font-size ) * @em;
	}

	.column-third, .column-two {
		width: 100%;
		padding-bottom: 2em;
	}
	
	#work figure > img {
		.border-box;

		width: 40%;
		padding: 0 2em 0 0;
		float: left;

		background: none;
	}

	#work figure > figcaption {
		.border-box;

		width: 60%;
		float: left;
	}

}

/*
* Breakpoint - X
*/
@media only screen and (max-width: 480px) {

	body {
		font-size: .65em;
	}
	
}

/*
* Breakpoint - X
*/
@media only screen and (max-width: 320px) {

	
}




