
@import "mixins/utils";


@font-size: 16;
@line: 30;
@px: 1px;
@em: 1em;





body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
}



/*
* Colors
*/ 

@light: #F2F2F2;
@silver: #D9D9D9;

/*
* Base typography
*/

h1 {
	/* 65px */
	font-size: ( 65 / @font-size ) * @em;
	line-height: 1.2em;

	color: #1c1c1c;

	padding-bottom: .8em;
}

h2, h3, p {
	font-size: ( 24 / @font-size ) * @em;
	line-height: 1.4em;

	font-weight: normal;
	letter-spacing: 0.11em;
	color: #3e3e3e;

}


h2, p {
	font-style: italic;
}

h3 {
	font-weight: bold;


	padding-top: 1.5em;
	padding-bottom: 1em;
}

h4, h5 {
	font-size: ( 20 / @font-size ) * @em;
	line-height: 1.3em;
}

h5 {
	font-size: ( 18 / @font-size ) * @em;
	line-height: 1.3em;

	font-weight: normal;
}

p {
	font-size: ( 22 / @font-size ) * @em;

	padding-bottom: 1.5em;
}




/*
* Layout
*/

.wrapper-base {
	.clearfix;

	max-width: 1200px;
	margin: 0 auto;
}

.wrapper {
	.wrapper-base;
	padding-bottom: 3em;
}

.column {
	padding-left: 0.75em;
	padding-right: 0.75em;
	
	.border-box;
}

.column-wide {
	.wrapper-base;
	.column;
	.clearfix;
}

.column-two {
	.column;
	float: left;

	/* Takes two thirds of width */
	width: 100% / 1.5;
}

.column-third {
	.column;

	float: left;
	
	/* Takes one third of with */
	width: 100% / 3;
}





/*
* Header
*/


header {
	padding-bottom: 8em;
}


/*
* Intro
*/

#intro {
	padding-bottom: 8em;
}

#intro h2 {
	
	/* Dont want it to
	strech to wide */
	max-width: 1000px;

}


/*
* Work
*/

#work {
	.clearfix; 

	background: @light;
	border: 1px solid @silver;

	
}



#work figure {

}

#work figure > img {
	.border-box;

	display: block;	
	max-width: 100%;
	padding: .3em;
	margin-bottom: 1em;

	background: white;
}


/*
* Breakpoint - Widescreen
*/
@media only screen and (max-width: 1200px) {

	body {
		font-size: .9em;
	}

}

/*
* Breakpoint - Tablets such as iPad in landscape mode
*/
@media only screen and (max-width: 1024px) {

	body {
		font-size: .8em;
	}
	
}

/*
* Breakpoint - Small resolution & tablets in portrait mode
*/
@media only screen and (max-width: 768px) {

	h1 {
		font-size: ( 50 / @font-size ) * @em;
	}

	
}

/*
* Breakpoint - X
*/
@media only screen and (max-width: 600px) {

	body {
		font-size: .7em;
	}

	h1 {
		font-size: ( 40 / @font-size ) * @em;
	}

	.column-third, .column-two {
		width: 100%;
		padding-bottom: 2em;
	}
	
	#work figure > img {
		.border-box;

		width: 40%;
		padding: 0 2em 0 0;
		float: left;

		background: none;
	}

	#work figure > figcaption {
		.border-box;

		width: 60%;
		float: left;
	}

}

/*
* Breakpoint - X
*/
@media only screen and (max-width: 480px) {

	body {
		font-size: .65em;
	}
	
}

/*
* Breakpoint - X
*/
@media only screen and (max-width: 320px) {

	
}




