
section.signup-callout {
	@extend .section--blue;
	background-image: url(/images/signup-bg.png);
	text-align: center;
	padding-top: 8%;
	padding-bottom: 6%;
}

.signup-callout__row {
	padding-left: 0 !important;
	padding-right: 0 !important;

	width: 100%;
	@media (min-width: $screen-sm-min) {
		display: inline-block;
		float: none;
		width: auto;
	}
}

.signup-callout__col {
	h2 {
		@extend %font-proxima--semibold;
		font-size: 1.2em;
		letter-spacing: -0.025em;
		margin: 0.1em 0;
	}

	& + .signup-callout__col {
		margin-top: 0.7em;
	}

	@media (min-width: $screen-sm-min) {
		float: left;
		h2 {
			font-size: 1.44em;
		}

		&.signup-callout__text h2,
		&.signup-callout__text p {
			text-align: left;
		}

		&.signup-callout__text p {
			font-size: 1.1em;
		}

		& + .signup-callout__col {
			margin-left: 1em;
			margin-top: 0;
		}
	}
	@media (min-width: $screen-md-min) {
		& + .signup-callout__col {
			margin-left: 2em;
		}
	}
}

.signup-callout__next-up {
	@extend %font-proxima--semibold;
	font-size: .9em;
	letter-spacing: -0.025em;
}
